*{

    margin: 0%;
    padding: 0%;
    text-decoration: none;
}
body{
height: auto;
width: auto;
background-color: rgba(240, 235, 235, 0.027);
}
.img{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
}

form{

    height: 16pc;
    background-color: rgb(255, 255, 255);
    margin: 0% 29% 5% 29%;
    border: 1px solid rgb(110, 110, 110);
    padding-left: 6%;
    padding-right: 6%;
    padding-top: 2%;
    border-radius: 0.2rem;
    padding-bottom: 0%;
}
#login{

    background-color: rgb(52, 147, 255);
    border:0pc;
    border-radius: 3px;
    /* padding-bottom: 0%; */
    font-family: Arial, Helvetica, sans-serif;
 
    color: white;
    font-size: 1.4rem;
    /* width: 60%; */
cursor: pointer;
    padding:1%;
    text-align: center;
    
}
input{
    text-align: left;
    font-size: 20px;
    padding: 0.3rem;
    font-weight: 100;
    width: 90%;
    margin-bottom: 5%;
}
label{
    font-size: 20px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6%;

}
#reset:hover{
color:rgb(20, 88, 167)  ;
}
#login:hover{
    background-color:rgb(20, 88, 167)  ;
    }
#reset{
    margin-left: 1rem;
    cursor: pointer;
    padding-top: 1rem;
    border: 0pc;
    font-family: Arial, Helvetica, sans-serif;
    background-color: transparent;
    font-size: 1.2rem;
    color:rgb(17, 114, 226) ;
}

/* =================responsive for mobile======== */

@media only screen  and (max-width:  700px){

    *{


        margin: 0%;
        padding: 0%;
    }
    body{
        height: 100%;
        width: 80%;
        background-color: rgba(240, 235, 235, 0.027);


        }
        .img{
            width:100%;;
            display: flex;
            align-items: center;
            justify-content: space-around;
            margin-top: 18px;
            margin-bottom: 8%;
            margin-left: 10%;
        }
        img{
            height: 90px;

            width: 90px;
        }
        
        form{
        
            height: 15pc;
            background-color: rgb(255, 255, 255);
            margin: 0% 10% 5% 10%;
            border: 1px solid rgb(110, 110, 110);
            padding-left: 6%;
            padding-right: 6%;
            padding-top: 2%;
            border-radius: 0.2rem;
            /* margin-right: 100%; */
            width: 75%;
            padding-bottom: 0%;
            margin-left: 19%;
        }
        #login{
        
            background-color: rgb(52, 147, 255);
            border:0pc;
            border-radius: 3px;
            /* padding-bottom: 0%; */
            font-family: Arial, Helvetica, sans-serif;
         
            color: white;
            font-size: 1.4rem;
            /* width: 60%; */
        cursor: pointer;
            padding:1%;

            margin-top: 5%;
            text-align: center;
            
        }
        input{
            text-align: left;
            font-size: 20px;
            padding: 0.3rem;
            font-weight: 100;
            width: 90%;
            margin-bottom: 5%;
        }
        label{
            font-size: 20px;
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
        .div{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 6%;
        
        }
        #reset:hover{
        color:rgb(20, 88, 167)  ;
        }
        #login:hover{
            background-color:rgb(20, 88, 167)  ;
            }
        #reset{
            margin-left: 1rem;
            cursor: pointer;
            padding-top: 1rem;
            border: 0pc;
            font-family: Arial, Helvetica, sans-serif;
            background-color: transparent;
            font-size: 1.2rem;
            color:rgb(17, 114, 226) ;
        }
}